body {
    background: radial-gradient(grey, white);
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;    
}

.formulario {
    width: 30%;
    padding: 30px;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0 0 10px #333;
    margin: 2rem;
}

form input {
    margin: 0 0 20px;
    display: block;
    width: 100%;
    padding: 3px 10px;
}

.botao button {
    width: 40%;
}

